//- js_newWords is an array, format: <new_word, added_on>
div.tabbable.tabs-left
    ul#myTab.nav.nav-tabs
        each js_word in js_newWords
            li
                a(href="javascript:search(\'#{js_word['new_word']}\');") #{js_word['new_word']} 
    div#translated_content.tab-content
        p
            !{results}


