div.navbar.pull-right
    - if (login)
        span.label.label-success Welcome
        span#lb_user.label.label-success(style="color:yellow;") !{login}
        a(href="/logout")
            span.label.label-success
                em Logout
    - else
        a(href="/login")
            span.label.label-success Login
h1.mybanner Shining Dict
.container
    #search_box.row-fluid
        form#search_form.well.form-search 
            input#search_word.input-xxlarge.search-query(name='word',placeholder='your word')
            &nbsp;&nbsp;
            button.btn(type="submit") Lookup
            &nbsp;&nbsp;
            - if (login)
                  //- button#added_flag.btn.btn-success(type="button",onclick="javascript:remember();") Add
                  a.btn.btn-success(onclick="javascript:remember();")
                      i#added_flag.icon-plus
            - else
                  /- button#added_flag.btn.disabled(type="button",disabled) Add
                  a.btn.btn-success
                      i#added_flag.icon-plus

.container
    #translated_content.span10
        p.
            !{results}
