.span4.offset4
    form#loginForm.well.span4(action='/login',method='post')
        fieldset
            legend Sign in / up
            .control-group
                label.control-label Username:
                .controls
                    input#username.span3(name='username',placeholder='your username')
            .control-group
                label.control-label Password:
                .controls
                    input#password.span3(name='password',type='password',placeholder='your password')
            .control-group
                .controls
                    button#loginBtn.btn(type="submit") Login
                    button#signUpBtn.btn(type="button",onclick="javascript:signup();") Signup
          - if (typeof errMsg !== undefined && errMsg)
            .control-group
                .controls
                    #errMsg.alert.alert-error 
                        p.
                            !{errMsg}
